<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<footer class="bg-dark text-white">
	<div class="container">
		<div class="row p-4 pt-5">
			<div class="col-12 col-sm-5 pe-sm-5">
				<img src="/images/CleaningServices-Logo-360x120.jpg" class="img-thumbnail" alt="..." width="240px;">
				<p class="pt-4">
					En Cleaning Services, brindamos un servicio de limpieza profesional, con tecnología de punta y un
					equipo altamente capacitado, especializado en el mantenimiento integral de todos los espacios de
					trabajo.
				</p>
			</div>

			<div class="col-12 col-sm-3">
				<h5 class="fs-3 pb-3">
					Navegación
				</h5>
				<div class="fs-5">
					<a href="/" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-house-fill"></i></span> Inicio</a>
					<a href="/nosotros" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-person-square"></i></span> Nosotros</a>
					<a href="/servicios" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-bucket-fill"></i></span> Servicios</a>
					<a href="/covid-19" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-exclamation-triangle-fill"></i></span> Covid-19</a>
					<a href="/contacto" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-telephone-inbound-fill"></i></span> Contacto</a>
				</div>
			</div>

			<div class="col-12 col-sm-4">
				<h5 class="fs-3 pb-3">
					Contáctenos
				</h5>

				<div class="fs-5">

					<div class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-geo-alt-fill"></i></span> Avenida Cervantes, 4. 29016 Málaga.
					</div>

					<a href="tel:+34 965020600" class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-telephone-inbound-fill"></i></span> Tel:+34 965 020 600</a>

					<a href="mailto:contacto@cleaningservices.com.es"
						class="list-group-item list-group-item-action pb-2">
						<span><i class="bi bi-envelope-check"></i></i></span> contacto@cleaningservices.com.es</a>
				</div>

				<div class="row d-flex text-white mt-4 fs-3">
					<div class="col-1 pe-4">
						<a href="http://instagram.com/" target="_blank">
							<i class="bi bi-instagram"></i>
						</a>
					</div>

					<div class="col-1 pe-4">
						<a href="http://twitter.com/" target="_blank">
							<i class="bi bi-twitter"></i>
						</a>
					</div>

					<div class="col-1 pe-4">
						<a href="mailto:contacto@cleaningservices.com" target="_blank">
							<i class="bi bi-envelope-check"></i>
						</a>
					</div>

					<div class="col-1 pe-4">
						<a href="http://whatsapp.com/" target="_blank">
							<i class="bi bi-whatsapp"></i>
						</a>
					</div>

					<div class="col-1 pe-4">
						<a href="http://telegram.com/" target="_blank">
							<i class="bi bi-telegram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="text-center text-secondary p-5">
				Copyright 2022 © Cleaning Services | Todos los derechos reservados.
			</p>
		</div>


	</div>
</footer>
</body>

</html>