.section-1,
h2,
h3,
h4,
h5,
span {
    color: #0077b6;
}

footer a {
    color: #0077b6;
}

footer a:hover {
    color: #fff;
}

.section-2 {
    background-image: url("/images/background-features.jpg");
}

.section-2 h2 {
    color: #fff;
}

.section-3 img {
    height: 420px;
    width: auto
}

.section-4 {
    background-image: url("/images/background-contact.jpg");
}

.section-5 {
    background-image: url("/images/background-about.jpg");
}